.header{
    .logo{
        margin-top:-50px;

        span{
            font-size:150px;
        }
    }
    .cart{
        margin-top:-50px;

        span{
            font-size:150px;
        }
    }
}