.addToWishlistButton {
    text-decoration: none;
}
.like {
    &--active {
        color: #ff0000;
        font:normal normal normal 14px/1 FontAwesome;
        
        &::before {
            content:"\f004";
        }
    }
}