.addToWishlistButton {
    text-decoration: none;
}
.like {
    color: #ff0000;
    font:normal normal normal 14px/1 FontAwesome;
    
    &::before {
        content:"\f004";
    }
    &--active {
        animation-name: like;
        animation-duration: 0.5s;
        
        &::before {
            content:"\f08a";
        }
    }
}

@keyframes like {
    0% {font-size: 17px; }
    50% {font-size: 19px;}
    100% {font-size: 17px;}
}