.menu {
    background-color: #0288D1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    .desktop-menu {
        display: none;
    }

    &__logo {
        display: inline-block;
        vertical-align: top;

        a {     
            padding: 10px;
            display: block;
            color: #fff;
            text-decoration: none;
            float: left;

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }

            span.fa {
                font-size: 30px;
                margin-right: 10px;
                vertical-align: middle;
            }
            span.logo__text {
                font-size: 18px;
                vertical-align: middle;
            }
        }
    }
    
    .cart_button { 
        padding: 10px;
        display: block;
        font-size: 26px;
        color: #fff;
        text-align: right;
        text-decoration: none;
        
        &:active,
        &:hover,
        &:focus {
            text-decoration: none;
        }
        span.count {
            position: absolute;
            padding: 2px;
            vertical-align: super;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
            margin: -3px 0 0 -10px;
            width: 16px;
            background-color: #D32F2F;
            border-radius: 100%;
        }
    }
}
.mmenu .nav {
    display: block;

    li {
        border-bottom: 1px solid #ccc;

        a {
            color: #000;

            &:hover {
                background-color: transparent;
            }
        }

        ul.nav__sub {
            background-color: transparent;
            width: 100%;
            margin: 0;

            li {
                &:last-child {
                    border-bottom: 0px;
                }

                a {
                    padding-left: 35px;
                }
            }
        }
    }
}


@media (min-width: 768px)
{
    .menu {
        &__logo span.logo__text {
            display: inline;
        }
    }
}

@media (min-width: 992px) {
    .menu {
        &__logo .sidebar-toggle {
            display: none;

            span.logo__text {
                font-size: 20px;
            }
        }

        .desktop-menu {
            display: block;
        }
        
        ul.nav {
            display: block;

            & > li {
                float: left;

                ul.nav__sub {
                    position: absolute;
                    left: -9999%;
                    margin-left: 0;
                }
            }
        }
    }
}