.message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 3px;

    &--info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }
    &--error {
        background-color: #ffa2a2;
        border-color: #ff8d8d;
        color: #7b2f2f;
    }
}