.order {
    ul.order-steps {
        background: #efefef;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 20px;

        li {
            display: inline-block;
            padding: 10px;

            &::after {
                font:normal normal normal 14px/1 FontAwesome;
                content:"\f101";
                color: #000;
                margin-left: 20px;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            a {
                color: #000;
                text-decoration: none;

                .fa {
                    margin-right: 8px;
                }
                .label {
                    display: none;
                }
            }

            &.active a {
                 color: #3880d4;
            }
        }
    }
    &__step {
        display: none;

        &--active {
            display: block;
        }
    }
    #order_info {
        .product {
            padding: 5px 0;

            &:last-child {
                padding-bottom: 0;
            }
            
            &__title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }
    .navigation {
        margin-top: 20px;

        .btn {
            &--prev {
                float: left;
            }
            &--next {
                float: right;
            }
        }
    }
    .adres span {
        display: block;
        line-height: 1.3;
    }
    .delivery {
        &__calendar {
            display: inline-block;
            vertical-align: middle;
            padding-right: 10px;

            span {
                display: block;
                
                &:first-child {
                    border-radius: 3px 3px 0 0;
                }

                &:last-child  {
                    border-radius: 0 0 3px 3px;
                }
            }

            &__month {
                padding: 6px 15px;
                font-size: 15px;
                background-color: #499cd8;
                color: #fff;
            }

            &__day {
                background-color: #ccc;
                padding: 8px 15px;
            }
        }

        padding-top: 12px;
        font-size: 20px;
    }
    .shipping__fields {
        display: none;
    }
}

@media (min-width: 992px)
{
    .order {
        ul.order-steps {
            li {
                padding: 15px;

                &::after {
                    margin-left: 25px;
                }

                a {
                    .label {
                        display: inline-block;
                    }
                }
            }
        }
    }
}