.tooltip {
    display: block;
    position: absolute;
    margin-top: 5px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    max-width: 190px;
    line-height: 1.4;

    &--active {
        display: block;
    }
}