<div class="users">
    <h1>Users</h1>
    <table>
        <thead>
            <th>Voornaam</th>
            <th>Tussenvoegsel</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Telefoonnummer</th>
        </thead>
        <tbody id="users_body">
            <tr id="single_user">
                <td>
                    <a href="" class="user__firstname"></a>
                </td>
                <td class="user__insertion"></td>
                <td class="user__lastname"></td>
                <td class="user__email"></td>
                <td class="user__phonenumber"></td>
            </tr>
        </tbody>
    </table>
</div>