    <div class="title">
        <h1 class="page-title"><span class="fa fa-user-plus" id="regi_icon"></span> Registreren</h1>
    </div>
<div class="message message--error" id="register_error_message" style="display: none">
    Sommige verplichte velden zijn nog niet ingevuld.<br>
    Vul deze alsjeblieft in.
</div>

<form class="registerform" name="registerform" id="registerform">
    <fieldset class="user_info">
        <legend>Gebruikers informatie</legend>
        <hr />
        <div class="userinfofields">
            <div class="form-group">
                <div class="form-label">
                    <label class="form_title" for="gender">Geslacht</label> 
                </div>
                <div class="form-control">
                    <select name="gender" id="gender">
                        <option value="male">Man</option>
                        <option value="female">Vrouw</option>
                    </select>
                </div>
            </div> <!-- GESLACHT: EINDIGT HIER!-->
            <div class="form-group">
                <div class="form-label">
                    <label for="voornaam">Voornaam</label>
                </div>
                <div class="form-control">
                    <input type="text" name="voornaam" id="voornaam"/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label class="form_title" for="tussenvoegsel">Tussenvoegsel</label>
                </div>
                <div class="form-control">
                    <input type="text" name="tussenvoegsel" id="tussenvoegsel"/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label class="form_title" for="achternaam">Achternaam</label>
                </div>
                <div class="form-control">
                    <input type="text" name="achternaam" id="achternaam" />
                </div>
            </div>
        </div>

        <div class="birth_date">         
            <div class="birth_date_fields">
                <div class="form-group">
                    <div class="form-label">
                        <label for="dag">Geboortedatum</label>
                    </div>
                    <div class="form-control">
                        <select name="dag" id="dag">
                        </select>
                        <select name="maand" id="maand">
                            <option value="01">Januari</option> 
                            <option value="02">Februari</option>
                            <option value="03">Maart</option> 
                            <option value="04">April</option>
                            <option value="05">Mei</option> 
                            <option value="06">Juni</option>
                            <option value="07">Juli</option> 
                            <option value="08">Augustus</option>
                            <option value="09">September</option> 
                            <option value="10">Oktober</option>
                            <option value="11">November</option> 
                            <option value="12">December</option>
                        </select>
                        <select name="jaar" id="jaar">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label for="e_mailadres">E-mailadres</label>
            </div>
            <div class="form-control">
                <input type="text" name="e_mailadres" id="e_mailadres" />
            </div>
        </div>
        <div class="phone_number_fields">
            <div class="form-group">
                <div class="form-label">
                    <label for="mobiel_nummer">Telefoonnummer (optioneel)</label>
                </div>
                <div class="form-control">
                    <input type="text" name="mobiel_nummer" id="mobiel_nummer" />
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="address">
        <legend>Adres informatie</legend>
        <hr />
        <div class="address_fields">
            <div class="form-group">
                <div class="form-label">
                    <label for="straatnaam">Straatnaam</label>
                </div>
                <div class="form-control">
                    <input type="text" name="straatnaam" id="straatnaam" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label for="huisnummer">Huisnummer</label>
                </div>
                <div class="form-control">
                    <input type="text" name="huisnummer" id="huisnummer" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label for="postcode">Postcode</label>
                </div>
                <div class="form-control">
                    <input type="text" name="postcode" id="postcode" />
                </div>
            </div> 
            <div class="form-group">
                <div class="form-label">
                    <label for="plaats">Plaats</label>
                </div>
                <div class="form-control">
                    <input type="text" name="plaats" id="plaats" />
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="account data">
        <legend>Wachtwoord & Beveiliging</legend>
        <hr />
        <div class="accountdatafields">
            <div class="message message--error" id="ww2_error_message" style="display: none">
                De ingevulde wachtwoorden zijn niet identiek.
            </div>
            
            <div class="form-group">
                <div class="form-label">
                    <label for="wachtwoord">Wachtwoord</label>
                </div>
                <div class="form-control">
                    <input type="password" name="wachtwoord" id="wachtwoord" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label for="wachtwoord2">Herhaal wachtwoord</label>
                </div>
                <div class="form-control">
                    <input type="password" name="wachtwoord2" id="wachtwoord2"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label for="security_question">Beveiligingsvraag</label>
            </div>
            <div class="form-control">
                <select name="security_question" id="security_question">
                    <option value="1">Wat is de naam van de eerste persoon die je hebt gekust?</option> 
                    <option value="2">Wat is de achternaam van de leraar die jou je eerste onvoldoende heeft gegeven?</option>
                    <option value="3">Wat is de naam van de plaats van waar je bruiloft is gehouden?</option> 
                    <option value="4">Wat is de naam van de basisschool waar je hebt gezeten?</option>
                    <option value="5">In welke stad of dorp woont je dichtsbijzijnde broer of zus?</option> 
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label for="security_answer">Antwoord</label>
            </div>
            <div class="form-control">
                <input type="text" name="security_answer" id="security_answer"/>
            </div>
        </div>
    </fieldset>

    <div class="message message--error" id="regi_api_error_message" style="display: none">
        Het lijkt erop dat het e-mailadres dat je hebt opgegeven al bekend is bij ons!
        Je kunt gebruik maken van de 'wachtwoord vergeten' functie als je niet meer in je account kunt komen.
    </div>

    <!-- <button class="btn"></button> -->
    <input class="btn btn--register" type="submit" value="Registreer" id="registerbutton"/>
</form>
