<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="title">
    <h1><span class="fa fa-heart" id="wish_heart"></span> Verlanglijst</h1>
</div>

<div class="row">
    <div class="wishlist_error_message message message--info" id="wishlist_error_message" style="display:none">
        Je verlanglijst is op dit moment leeg.
    </div>
</div>

<div class="row">
    <div class="col-12" id="public__related">

        <div class="col-2">
            <div id="wish__list__publicator">
                <div id="wish__list__selection">
                    <select name="publicator" id="publicator">
                        <option value="private">Niet Openbaar</option>
                        <option value="public">Openbaar</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div id="example__btn__div">
                <a href="" class="btn" id="example__btn">Uw publieke link</a> <!-- Link naar Public Wishlist -->
            </div>
        </div>

        <div class="col-3">
            <div class="share__btn">
                Deel link via e-mail
                <a href="" target="_blank" class="btn" id="share__btn"><span class="fa fa-envelope-o"></span></a>
            </div>
        </div>

        <div class="col-3">
            <div class="clipboard__btn">
                Sla link op in klembord

                <a href="" class="btn" id="clipboard__btn" onClick="ClipBoard();"><span class="fa fa-clipboard"></span> WERKTNOGNIET</a>
            </div>
        </div>

    </div>
</div>


</div>
<div class="wish__list" id="wish__list">
    <div class="row" id="wish__list__announcement">
        <div class="col-12">
            <div class="col-1">#</div>
            <div class="col-1">Cover</div>
            <div class="col-2">Naam</div>
            <div class="col-1">Prijs</div>
            <div class="col-1">Platform</div>
            <div class="col-1">Voorraad</div>
            <div class="col-2"></div> <!--verwijder buttons-->
            <div class="col-3"></div> <!--add to cart buttons-->
        </div>
    </div>

    <div class="row" id="wish__list__item">
        <div class="col-12">
            <div class="wish__list__product">
                
                <div class="col-1">
                    <div class="wish__list__id"></div>
                </div>
                <div class="col-1">
                    <div class="wish__list__image">
                        <img src=""/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="wish__list__title"></div>
                </div>
                <div class="col-1">
                    <div class="wish__list__price"></div>
                </div>
                <div class="col-1">
                    <div class="wish__list__platform"></div>
                </div>
                <div class="col-1">
                    <div class="wish__list__availability"></div>
                </div>
                <div class="col-5">
                    <div id="to_shop_cart">
                        <a href="" class="btn btn--success addtocart" id="cart_btn"><span class="fa fa-plus"></span>Winkelwagen</a>
                        <span class="fa fa-shopping-cart" id="shop_cart" style="opacity:0;position:absolute;"> + 1</span>
                    </div>
                    <div id="wish__list__deletebutton">
                        <a href="" class="btn btn--danger" id="delete_btn">Verwijder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>