<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="title">
    <h1><span class="fa fa-star" id="fav_star"></span> Favorieten</h1>
</div>

<div class="row">
    <div class="favoritelist_error_message message message--info" id="favoritelist_error_message" style="display:none">
        Je favorieten lijst is leeg op het moment.
    </div>
</div>

<div class="favorite__list" id="favorite__list">
    <div class="row" id="favorite__list__announcement">
        <div class="col-12">
            <div class="col-1">#</div>
            <div class="col-1">Cover</div>
            <div class="col-2">Naam</div>
            <div class="col-1">Prijs</div>
            <div class="col-1">Platform</div>
            <div class="col-1">Voorraad</div>
            <div class="col-2"></div> <!--verwijder buttons-->
            <div class="col-3"></div> <!--add to cart buttons-->
        </div>
    </div>

    <div class="row" id="favorite__list__item">
        <div class="col-12">
            <div class="favorite__list__product">
                
                <div class="col-1">
                    <div class="favorite__list__id"></div>
                </div>
                <div class="col-1">
                    <div class="favorite__list__image">
                        <img src=""/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="favorite__list__title"></div>
                </div>
                <div class="col-1">
                    <div class="favorite__list__price"></div>
                </div>
                <div class="col-1">
                    <div class="favorite__list__platform"></div>
                </div>
                <div class="col-1">
                    <div class="favorite__list__availability"></div>
                </div>
                <div class="col-5">
                    <div id="to_shop_cart">
                        <a href="" class="btn btn--success addtocart" id="cart_btn"><span class="fa fa-plus"></span>Winkelwagen</a>
                        <span class="fa fa-shopping-cart" id="shop_cart" style="opacity:0;position:absolute;"> + 1</span>
                    </div>
                    <div id="favorite__list__deletebutton">
                        <a href="" class="btn btn--danger" id="delete_btn">Verwijder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>