body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 10px 0;
    line-height: 1.5em;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

ol.numberlist {
    list-style: decimal;
    margin: 0 30px;
    line-height: 1.5em;
}