body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 10px 0;
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

ol.numberlist {
    list-style: decimal;
    margin: 0 30px;
    line-height: 1.5em;
}