.cart {
    padding: 0;

    &__item {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ccc;
        
        &__image {
            display: inline-block;

            img {
                max-height: 50px;
            }
        }

        &__info {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
        }

        &__price {
            font-weight: bold;
        }

        &__remove {
            float: right;
            color: #545454;
            cursor: pointer;
        }

        &--removed {
            @include remove-right(300px);
        }
    }

    &__total {
        padding: 15px;

        .total {
            float: left;
        }
        .price {
            float: right;
        }
    }

    &__checkout {
        padding: 15px;
        color: #fff;
        background-color: #5b9460;
        cursor: pointer;

        .fa {
            float: right;
        }
    }
}