body {
    background-color: #f7f7f7;
}

.content{
    margin-top:25px;
}

.product {
    &__image{
        vertical-align: middle;
        overflow: hidden;
    }
    &__info{
        text-align: center;
        margin-bottom: 10px;
    }
    &__title{
        font-size: 25px;
        font-weight: bold;
    }
    &__price{
        margin-top: 15px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    &__subtitle{ //Is Genre | Age | Platform tekst
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    &__buttons{
        text-align: center;
    }

}

.row{
    margin-bottom: 10px;
}
#product__list__item{
    border-bottom:1px solid #ccc;
}