body {
    background-color: #f7f7f7;
}

.content{
    margin-top:25px;
}

.product {
    &__image{
        vertical-align: middle;
        text-align:center;
        
        img{
            max-height: 180px;
        
        }
    }
    &__info{
        margin-bottom: 10px;
    }
    &__title{
        font-size: 25px;
        font-weight: bold;
    }
    &__price{
        margin-top: 15px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    &__subtitle{ //Is Genre | Age | Platform tekst
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
        img {
            vertical-align:bottom;
            height:20px;
        }
    }
    &__buttons{
    }

}

.row{
    margin-bottom: 10px;
}
#product__list__item{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

@media (min-width: 768px) {
    .product {
        &__price {
            font-size: 30px;
        }
    }
}