.header{
    margin-top:25px;
}

select{
    font-family: 'Open Sans', serif;
    border-radius:5px;
}

form.product_filter{
    overflow: hidden;

    .form-group {
        margin:0;

        label {
            display: inline-block;
        }
    }

    .price{
        .pricetitle{
            font-weight:bold;
            margin-bottom:5px;
            padding-left:5px;
        }
        .pricefilter{
            display:inline-block;
            padding-left: 4px;

            input[type="number"]{
                border-radius:4px;
                border: 1px solid #ccc;
                font-size: 17px;
                padding: 5px;
            }
        }
        label {
            display: inline-block;
        }
    }

    .genre{
        .genretitle{
        font-weight:bold;
        margin-bottom:5px;
        padding-left:5px;
        margin-top:10px;
        }

        .genrefilter{
        display:inline-block;
        }
    }

    .platform{
        .platformtitle{
            font-weight:bold;
            margin-bottom:5px;
            padding-left:5px;
            margin-top:10px;
        }

        .platformfilter{
        display:inline-block;
        }
    }

    .publisher{
        .publishertitle{
        font-weight:bold;
        margin-bottom:5px;
        padding-left:5px;
        margin-top:10px;
        }

        .publisherfilter{
        display:inline-block;
        }
    }
}