form {
    .form_title{
        //font-size: 110px;
        font-weight: normal;
    }
    &.form--inline {
        .form-group {
            display: inline-block;
            margin: 0;
        }
    }
    .form-group {
        display:block;
        margin-bottom: 10px;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 6px;
        }
        input[type=text],
        input[type=password] {
            border: 1px solid #ccc;
            border-radius: 2px;
            width: 100%;
            padding: 10px 10px 10px 7px;
            font-size: 17px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;

            &:focus {
                outline: none;
            }

            &.invalid {
                outline-style: ridge;
                outline-color: #ff0000;
            }
        }
        input[type=checkbox] {
            display: inline-block;
        }

        .input-group {
            display: flex;

            .btn {
                padding: 15px 14px 14px;
            }
            input[type=text]:first-child,
            input[type=password]:first-child {
                display: table-cell;
                border-radius: 3px 0 0 3px;
            }
            &--btn {
                display: table-cell;
                vertical-align: middle;
                
                .btn {
                    border-radius: 0 3px 3px 0;
                    margin-left: -1px;
                }
            }
        }

        &--merge {
            input[type=text]:first-child,
            input[type=password]:first-child {
                border-radius: 3px 3px 0 0;
            }

             input[type=text],
             input[type=password] {
                 display: block;
                 border-radius: 0;
                 margin-top: -1px;
             }

            input[type=text]:last-child,
            input[type=password]:last-child {
                border-radius: 0 0 3px 3px;
            }
        }
    }
}
.btn {
    display: inline-block;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #afafaf;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #000;

    &--success {
        background-color: #1e7946;
        border-color: #135631;
        color: #fff;
    }
}

.title{
    font-weight: normal; //should be bold
}

.registerform {
    label {
        //font-size: 100px;
        font-weight: normal; //doesn't work?
    }
}
