<div class="order">
    <ul class="order-steps">
        <li class="active"><span class="fa fa-shopping-cart"></span> <span class="label">Winkelwagen</span></li>
        <li><span class="fa fa-paper-plane"></span> <span class="label">Verzending</span></li>
        <li><span class="fa fa-credit-card-alt"></span> <span class="label">Betaling</span></li>
        <li><span class="fa fa-check-circle-o"></span> <span class="label">Afronding</span></li>
    </ul>

    <div id="order_info" class="active">
        <div class="panel">
            <div class="panel__title">Overizicht van je bestelling</div>
            <div class="panel__content">
                <div class="row">
                    <div class="col-12 product">
                        <div class="col-1 col-mobile-3">
                            <img src="https://upload.wikimedia.org/wikipedia/en/c/ce/Vice-city-cover.jpg">
                        </div>
                        <div class="col-11 col-mobile-9">
                            <div class="product__title">Grand Theft Auto: Vice City</div>
                            Actie | PEGI 18 | PS2
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 product">
                        <div class="col-1 col-mobile-3">
                            <img src="https://upload.wikimedia.org/wikipedia/en/c/ce/Vice-city-cover.jpg">
                        </div>
                        <div class="col-11 col-mobile-9">
                            <div class="product__title">Grand Theft Auto: Vice City</div>
                            Actie | PEGI 18 | PS2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="navigation">
            <a class="btn btn--success btn--lg btn--prev"><span class="fa fa-arrow-left"></span> Ga terug</a>
            <a class="btn btn--success btn--lg btn--next">Ga verder <span class="fa fa-arrow-right"></span></a>
        </div>
    </div>
</div>