<p><h1>Resetten van wachtwoord</h1></p> <!-- Titel van de pagina -->
              <form name="reset" id="resetform" class="resetform">  
                <div class="newpassword">    <!-- NEWPASSWORD BEGINT HIER -->                    
                                <div class="new_password_title">
                                    <h1>NIEUW WACHTWOORD:</h1>
                                </div>
                                <div class="new_password_fields"> <!-- NIEUWE WACHTWOORD INVOERVELDEN BEGINT HIER -->
                                    <form> 
                                        <div class="form-group"> <input type="text" name="Newpassword" id="newpassword"/> <label for="newpassword"></label> </div>

                                    </form>
                                </div>                  <!-- NIEUWE WACHTWOORD INVOERVELDEN EINDIGT HIER -->
                </div> <!-- NEWPASSWORD EINDIGT HIER!-->

                <div class="e-mailaddress">    <!-- E-MAILADRES BEGINT HIER -->                    
                                <div class="e-mailaddress_title">
                                    <h1>E-MAILADRES:</h1>
                                </div>
                                <div class="e-mailaddress_field"> <!-- E-MAILADRES INVOERVELD BEGINT HIER -->
                                    <form>      
                                        <div class="form-group"> <input type="text" name="E-mailadres" id="e-mailadres"/> <label for="e-mailadres"></label> </div>
                                    </form>
                                </div>                  <!-- E-MAILADRES INVOERVELD EINDIGT HIER -->
                </div> <!-- E-MAILADRES EINDIGT HIER!-->

                <div class="security_question">    <!-- BEVEILIGINGSVRAAG BEGINT HIER -->                    
                                <div class="security_question_title">
                                    <h1>BEVEILIGINGSVRAAG:</h1>
                                </div>
                                <div class="security_question_fields"> <!-- BEVEILIGINGSVRAAG INVOERVELD BEGINT HIER -->
                                    <form>      
                                    <div class="form-group"> <select id = "security_question_select">
                                        <option value="1">Wat is de naam van de eerste persoon die je hebt gekust?</option> 
                                        <option value="2">Wat is de achternaam van de leraar die jou je eerste onvoldoende heeft gegeven?</option>
                                        <option value="3">Wat is de naam van de plaats van waar je bruiloft is gehouden?</option> 
                                        <option value="4">Wat is de naam van de basisschool waar je hebt gezeten?</option>
                                        <option value="5">In welke stad of dorp woont je dichtsbijzijnde broer of zus?</option> 
                                                    
                                                                </select><label for="gebruikersnaam"></label> </div>
                                    </form>
                                </div>                  <!-- BEVEILIGINGSVRAAG INVOERVELD EINDIGT HIER -->
                </div> <!-- BEVEILIGINGSVRAAG EINDIGT HIER!-->

                <div class="question_answer">    <!-- QUESTION ANSWER BEGINT HIER -->                    
                                <div class="question_answer_title">
                                    <h1>ANTWOORD:</h1>
                                </div>
                                <div class="question_answer_fields"> <!-- ANTWOORD BEVEILIGINGSVRAAG INVOERVELD BEGINT HIER -->
                                    <form> 
                                        <div class="form-group"> <input type="text" name="Questionanswer" id="questionanswer"/> <label for="questionanswer"></label> </div>

                                    </form>
                                </div>                  <!-- ANTWOORD BEVEILIGINGSVRAAG INVOERVELD EINDIGT HIER -->
                </div> <!-- QUESTION ANSWER EINDIGT HIER!-->

                <div class="resetpasswordbutton"> <!-- RESET PASSWORD BUTTON BEGINT HIER! -->
                  <!-- <button class="reset_password_button"> <border-radius= 10px text-align=center background-color=#FF8C00 color=#FF8C00 />Reset wachtwoord</button> -->
                  <input type="submit" value="Reset wachtwoord" id="resetbutton" class="btn"> <a href="resetpassword" class="reset"></a>
                </div> <!-- RESET PASSWORD BUTTON EINDIGT HIER! -->
              </form>  