<div class="title"> <!--title is in form.scss-->
    Reset wachtwoord
</div>
<div class="message message--error" id="reset_error_message" style="display: none">
    Sommige verplichte velden zijn nog niet ingevuld (inclusief e-mailadres).<br>
    Vul deze alsjeblieft in.
</div>

<form class="resetform" name="resetform" id="resetform">  
    <fieldset class="account data">    <!-- ACCOUNT GEGEVENS BEGINT HIER -->                    
            <div class="accountdatafields"> <!-- ACCOUNT GEGEVENS INVOERVELDEN BEGINT HIER -->                
                <div class="message message--error" id="ww2_error_message" style="display: none">
                    De ingevulde wachtwoorden zijn niet identiek.
                </div>
                
                <div class="form-group">
                    <label for="wachtwoord">Nieuw wachtwoord</label>
                    <input type="password" name="wachtwoord" id="wachtwoord"/>
                </div>
                
                <div class="form-group">
                    <label for="wachtwoord2">Herhaal wachtwoord</label>
                    <input type="password" name="wachtwoord2" id="wachtwoord2"/>
                </div>

                <div class="form-group"> 
                    <label for="e-mailadres">E-mailadres</label>  
                    <input type="text" name="E-mailadres" id="e-mailadres"/>  
                </div>
            </div>                  <!-- ACCOUNT GEGEVENS INVOERVELDEN EINDIGT HIER -->
        </fieldset> <!-- ACCOUNT GEGEVENS EINDIGT HIER!-->



    <fieldset class="security_question">    <!-- BEVEILIGINGSVRAAG BEGINT HIER -->                    
            <div class="security_question_title">
                <div class="form_title">
                    Beveiligingsvraag
                </div>        </div>
            <div class="security_question_fields"> <!-- BEVEILIGINGSVRAAG INVOERVELD BEGINT HIER -->
                <div class="form-group">
                    <label for="security_question"></label>
                    <select name="security_question" id="security_question">
                        <option value="1">Wat is de naam van de eerste persoon die je hebt gekust?</option> 
                        <option value="2">Wat is de achternaam van de leraar die jou je eerste onvoldoende heeft gegeven?</option>
                        <option value="3">Wat is de naam van de plaats van waar je bruiloft is gehouden?</option> 
                        <option value="4">Wat is de naam van de basisschool waar je hebt gezeten?</option>
                        <option value="5">In welke stad of dorp woont je dichtsbijzijnde broer of zus?</option> 
                    </select>
                </div>
            </div>                  <!-- BEVEILIGINGSVRAAG INVOERVELD EINDIGT HIER -->

            <div class="question_answer">    <!-- QUESTION ANSWER BEGINT HIER -->                    
                <div class="question_answer_title">
                    <div class="form_title">
                        Antwoord
                    </div>        </div>
                <div class="question_answer_fields"> <!-- ANTWOORD BEVEILIGINGSVRAAG INVOERVELD BEGINT HIER -->
                    <div class="form-group">
                        <label for="security_answer"></label>
                        <input type="text" name="security_answer" id="security_answer"/>
                    </div>
                </div>                  <!-- ANTWOORD BEVEILIGINGSVRAAG INVOERVELD EINDIGT HIER -->
            </div> <!-- QUESTION ANSWER EINDIGT HIER!-->
     </fieldset>

    <div class="message message--error" id="reset_password_api_error_message" style="display: none">  <!-- MESSAGE NOT SHOWING FOR SOME REASON -->
        Het lijkt erop dat het e-mailadres dat je hebt opgegeven niet bekend is bij ons.
        Weet je zeker dat je geen speliingsfouten hebt gemaakt?
        Je kunt gebruik maken van de 'maak een account aan' functie als je je nog niet geregistreerd hebt.
        Daarvoor druk je op het tabje 'Inloggen' en ga je naar de sectie 'Nog geen account'
    </div>

    <input class="btn" type="submit" value="Reset wachtwoord" id="resetbutton"/> 
</form>  

<!--

-->