<div class="row">
    <div class="singleproduct">
        <div class="row">
            <div class="col-12">
                <h1 class="singleproduct__title"></h1>
                <div class="singleproduct__subtitle">
                    <span class="product__genre"></span> | PEGI <span class="product__pegi"></span> | <span class="product__platform"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="singleproduct__image">
                    <img src=""/>
                </div>
            </div>

            <div class="col-7 singleproduct__info">
                <div class="row">
                    <div class="singleproduct__price"></div>
                </div>
                <div class="row">
                    <dl class="alignedlist">
                        <dt><span class="bold">EAN</span></dt><dd class="product__ean"></dd>
                        <dt><span class="bold">Uitgave</span></dt><dd class="liproduct__releasedate"></dd>
                        <dt><span class="bold">Uitgever</span></dt><dd class="product__publisher"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="panel">
            <div class="panel__title">
                <h2>Productomschrijving</h2>
            </div>
            <div class="panel__content singleproduct__descr"></div>
        </div>
    </div>
</div>





