<div class="row">
    <div class="singleproduct">
        <div class="row">
            <div class="col-12">
                <h1 class="singleproduct__title"></h1>
                <div class="singleproduct__subtitle">
                    <span class="liproduct__genre"></span> | PEGI <span class="liproduct__pegi"></span> | <span class="liproduct__platform"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="singleproduct__image">
                    <img src=""/>
                </div>
            </div>

            <div class="col-7 singleproduct__info">
                <div class="row">
                    <div class="singleproduct__price"></div>
                    <a class="btn" onclick=""><span class="fa fa-plus"></span>  In winkelwagen</a>
                </div>
                <div class="row">
                    <ul>
                        <li class="liproduct__ean"><span class="bold">Ean:</span> </li>
                        <li class="liproduct__releasedate"><span class="bold">Release datum:</span> </li>
                        <li class="liproduct__publisher"><span class="bold">Uitgever:</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <h2>Productomschrijving</h2>
    <div class="col-12 singleproduct__descr">
    </div>
</div>





