<div class="row">
    <div class="col-4" id="product__list__item">
        <div class="product">
            <div class="product__image">
                <img src=""/>
            </div>
                
        </div>
    </div>

    <div class="col-4">
        <div class="product">
            <div class="product__title">
                title
            </div>
            <div class="product__price">
                price
            </div>


            <div class="col-6">
                <a class="btn" onclick=""><span class="fa fa-plus"></span>  In winkelwagen</a>

                <ul type="square">
                    <li class="liproduct__ean">Ean:</li>
                    <li class="liproduct__platform">Platform:</li>
                    <li class="liproduct__releasedate">Datum van release:</li>
                    <li class="liproduct__pegi">PEGI leeftijd:</li>
                    <li class="liproduct__publisher">Uitgever:</li>
                    <li class="liproduct__title">Titel:</li>
                    <li class="liproduct__subtitle">Subtitel:</li>
                    <li class="liproduct__genre">Genre:</li>
                    <li class="liproduct__franchise">Franchise:</li>
                </ul>
            </div>
            <div class="col-6">
                
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6 product__descr">
        In this 3rd installment of the 15th well selling franchise in the world
    </div>
</div>





