<div class="login screen">    <!-- LOGIN SCREEN BEGINT HIER -->                    
    <div class="loginscreentitle">
        <h1><span class="fa fa-user"></span> Inloggen</h1>
    </div>

    <div class="error_message" id="error_message" style="display: none">
        Verkeerde email of wachtwoord ingevoerd.<br>Probeer opnieuw alstublieft.
    </div>

    <div class="loginscreenfields"> <!-- LOGIN INVOERVELDEN BEGINT HIER -->
        <form name="login" id="loginform">      
            <div class="form-group">
                <label for="e-mailadres">E-mailadres</label>
                <input type="text" name="email" id="e-mailadres"/>
            </div>
            <div class="form-group">
                <label for="wachtwoord">Wachtwoord</label>
                <input type="password" name="password" id="wachtwoord"/>
            </div>
            <div class="form-group">
                <input type="submit" value="login" id="loginbutton">
            </div>
        </form>
    </div>                  <!-- LOGIN INVOERVELDEN EINDIGT HIER -->
</div> <!-- LOGIN SCREEN EINDIGT HIER!-->