<div class="login screen">    <!-- LOGIN SCREEN BEGINT HIER -->                    
    <div class="loginscreentitle">
        <h1>Login scherm</h1>
    </div>

    <div class="error_message" id="error_message" style="display: none">
        Verkeerde email of wachtwoord ingevoerd.<br>Probeer opnieuw alstublieft.
    </div>

    <div class="loginscreenfields"> <!-- LOGIN INVOERVELDEN BEGINT HIER -->
        <form name="login" id="loginform">      
            <div class="form-group"> <input type="text" name="E-mailadres" id="e-mailadres"/> <label for="e-mailadres">E-mailadres</label> </div>
            <div class="form-group"> <input type="text" name="Wachtwoord" id="wachtwoord"/> <label for="wachtwoord">Wachtwoord</label> </div>
            <!--<div class="form-group"> <input type="checkbox" name="Toon wachtwoord" id="toonwachtwoord"/> <label for="toonwachtwoord">Toon wachtwoord</label> </div> -->
        </form>
    </div>                  <!-- LOGIN INVOERVELDEN EINDIGT HIER -->
</div> <!-- LOGIN SCREEN EINDIGT HIER!-->



<div class="loginbutton"> <!-- LOGIN BUTTON BEGINT HIER! -->
    <button class="login_button"  id="loginbutton">
        Login
    </button>
</div> <!-- LOGIN BUTTON EINDIGT HIER! -->

<div class="forgotpasswordtext"> <!-- FORGOT PASSWORD TEXT BEGINT HIER! -->
    <a href="resetpassword.html">Wachtwoord vergeten?</a></h6>
</div> <!-- FORGOT PASSWORD TEXT EINDIGT HIER! -->

<div class="of-scheiding"> <!-- OF-SCHEIDING BEGINT HIER! -->
    <h6>-------------------------of-------------------------</h6>
</div> <!-- OF-SCHEIDING EINDIGT HIER! -->

<div class="loginwithfacebook"> <!-- LOG IN MET FACEBOOK BEGINT HIER! -->
    <h5>Log in met Facebook</h5>
</div> <!-- LOG IN MET FACEBOOK EINDIGT HIER! -->

<div class="facebookbutton"> <!-- FACEBOOK BUTTON BEGINT HIER! -->
    <button class="facebook_button">
    <border-radius= 10px text-align=center background-color=#FF8C00 color=#FF8C00 />f Schrijf nu in!</button>
</div> <!-- FACEBOOK BUTTON EINDIGT HIER! -->
