<table>
    <thead>
        <th>#</th>
        <th>Datum</th>
        <th>Prijs</th>
        <th>Betaalmethode</th>
        <th>Verzendwijze</th>
        <th></th>
    </thead>
    <tbody id="orders_body">
        <tr id="single_order">
            <td class="order__number"></td>
            <td class="order__date"></td>
            <td class="order__price"></td>
            <td class="order__paymentmethod"></td>
            <td class="order__shippping"></td>
            <td class="order__link"><a href="" class="btn">Bekijk producten</a>
        </tr>
    </tbody>
</table>