<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="row public__wishlist__header" id="public__wishlist__header"></div>


<div class="wish__list" id="wish__list">
    <div class="row" id="wish__list__announcement">
        <div class="col-12">
            <div class="col-1">#</div>
            <div class="col-2">Afbeelding</div>
            <div class="col-4">Naam</div>
            <div class="col-1">Prijs</div>
            <div class="col-1">Platform</div>
            <div class="col-3">Voorraad</div>
        </div>
    </div>

    <div class="row" id="wish__list__item">
        <div class="col-12">
            <div class="wish__list__product">
                
                <div class="col-1">
                    <div class="wish__list__id"></div>
                </div>
                <div class="col-2">
                    <div class="wish__list__image">
                        <img src=""/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wish__list__title"></div>
                </div>
                <div class="col-1">
                    <div class="wish__list__price"></div>
                </div>
                <div class="col-1">
                    <div class="wish__list__platform"></div>
                </div>
                <div class="col-3">
                    <div class="wish__list__availability"></div>
                </div>
            </div>
        </div>
    </div>

</div>