<div id="stats">
    <div id="stats__header">
        <h1>Statistieken</h1>
    </div>

    <div class="row">
        <div id="graph__toptenitems">
            <canvas id="graph__toptenitems__cnvs" width="800" height="400""></canvas>
        </div>
    </div>

    <div class="row">
        <div id="graph__revenue">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="row">
        <div id="graph__useramount">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

</div>