<form name="product_filter" id="product_filter" class="product_filter">
    <div class="price">    <!-- PRIJS BEGINT HIER -->                    
        <div class="pricetitle">
            Prijs
        </div>
        <div class="pricefilter"> <!-- PRIJS CHECKLIST BEGINT HIER -->
            <input type="number" id="pricemin" name="price-min" placeholder="Van" min="0" max="200">
            <input type="number" id="pricemax" name="price-max" placeholder="Tot" min="0" max="200">
        </div><!-- PRIJS CHECKLIST EINDIGT HIER -->
    </div> <!-- PRIJS EINDIGT HIER!-->
        
    <div class="genre">    <!-- GENRE BEGINT HIER -->                    
        <div class="genretitle">
            Genre
        </div>
        <div class="genrefilter"> <!-- GENRE CHECKLIST BEGINT HIER -->  
            <div class="form-group"> <input type="checkbox" name="genre" id="genre1" value="actie" /> <label for="genre1">Actie <span class="fa fa-bomb"></label> </div>
            <div class="form-group"> <input type="checkbox" name="genre" id="genre5" value="sport" /> <label for="genre5">Sport <span class="fa fa-soccer-ball-o"></label> </div>
        </div>                  <!-- GENRE CHECKLIST EINDIGT HIER -->
    </div> <!-- GENRE EINDIGT HIER!-->


    <div class="platform">    <!-- PLATFORM BEGINT HIER -->                    
        <div class="platformtitle">
            Platform
        </div>
        <div class="platformfilter"> <!-- PLATFORM CHECKLIST BEGINT HIER -->
            <div class="form-group"> <input type="checkbox" name="platform" id="platform1" value="PS4" /> <label for="platform1">Playstation 4</label> </div>
            <div class="form-group"> <input type="checkbox" name="platform" id="platform2" value="XBOX" /> <label for="platform2">XBOX One</label> </div>
            <div class="form-group"> <input type="checkbox" name="platform" id="platform3" value="PC" /> <label for="platform3">Computer</label> </div>
        </div>                  <!-- PLATFORM CHECKLIST EINDIGT HIER -->
    </div> <!-- PLATFORM EINDIGT HIER!-->

    <div class="publisher">    <!-- PUBLISHER BEGINT HIER -->                    
        <div class="publishertitle">
            Publisher
        </div>
        <div class="publisherfilter"> <!-- PUBLISHER CHECKLIST BEGINT HIER -->
            <div class="form-group"> <input type="checkbox" name="publisher" id="publisher1" value="Electronic Arts" /> <label for="publisher1">Electronic Arts</label> </div>
            <div class="form-group"> <input type="checkbox" name="publisher" id="publisher5" value="Ubisoft" /> <label for="publisher5">Ubisoft</label> </div>
        </div>                  <!-- PUBLISHER CHECKLIST EINDIGT HIER -->
    </div> <!-- PUBLISHER EINDIGT HIER!-->
</form>  <!-- FILTER EINDIGT HIER -->