<div class="product__list" id="product__list">
    <div class="row" id="product__list__item">
        <div class="col-12">
            <div class="product">
                
                <div class="col-3 col-mobile-4">
                    <div class="product__image">
                        <a href=""><img src=""/></a>
                    </div>
                    <div class="product__price">
                    </div>
                </div>

                <div class="col-9 col-mobile-8">
                    <div class="product__info">
                        <a href="" class="product__title"></a>
                        <div class="product__subtitle"></div>
                        <div class="product__description"></div>
                    </div>

                    <div class="product__buttons">
                        <div class="form-group buttons">
                            <a id="buttons__info" href="" class="btn">Meer Informatie</a>
                            <a href="" class="btn btn--success addtocart">
                                <span class="fa fa-plus"></span> Voeg toe aan winkelwagen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>