<div class="col-12"> <!-- COL-12 TOTAAL BEGINT -->
    <div class="col-3"> <!-- FILTER COL BEGINT -->
        <form name="product_filter" id="product_filter" class="product_filter">
            <div class="price">    <!-- PRIJS BEGINT HIER -->                    
                <div class="pricetitle">
                    Prijs
                </div>
                <div class="pricefilter"> <!-- PRIJS CHECKLIST BEGINT HIER -->   
                    <div class="form-group"> <input type="checkbox" name="price-1" id="price1" value="pricevalue1" /> <label for="price1">€5,00 - €15,00</label> </div>
                    <div class="form-group"> <input type="checkbox" name="price-2" id="price2" value="pricevalue2" /> <label for="price2">€16,00 - €30,00</label> </div>
                    <div class="form-group"> <input type="checkbox" name="price-3" id="price3" value="pricevalue3" /> <label for="price3">€31,00 - €45,00</label> </div>
                    <div class="form-group"> <input type="checkbox" name="price-4" id="price4" value="pricevalue4" /> <label for="price4">€46,00 - €60,00</label> </div>
                    <div class="form-group"> <input type="checkbox" name="price-5" id="price5" value="pricevalue5" /> <label for="price5">€61,00 - €100,00</label> </div>
                </div>                  <!-- PRIJS CHECKLIST EINDIGT HIER -->
            </div> <!-- PRIJS EINDIGT HIER!-->
            
            <div class="genre">    <!-- GENRE BEGINT HIER -->                    
                <div class="genretitle">
                    Genre
                </div>
                <div class="genrefilter"> <!-- GENRE CHECKLIST BEGINT HIER -->  
                    <div class="form-group"> <input type="checkbox" name="genre-1" id="genre1" value="genrevalue1" /> <label for="genre1">Actie <span class="fa fa-bomb"></label> </div>
                    <div class="form-group"> <input type="checkbox" name="genre-2" id="genre2" value="genrevalue2" /> <label for="genre2">Avontuur <span class="fa fa-fighter-jet"></span></label> </div>
                    <div class="form-group"> <input type="checkbox" name="genre-3" id="genre3" value="genrevalue3" /> <label for="genre3">Role-Playing <span class="fa fa-group"></label> </div>
                    <div class="form-group"> <input type="checkbox" name="genre-4" id="genre4" value="genrevalue4" /> <label for="genre4">Strategie <span class="fa fa-book"></span></label> </div>
                    <div class="form-group"> <input type="checkbox" name="genre-5" id="genre5" value="genrevalue5" /> <label for="genre5">Sport <span class="fa fa-soccer-ball-o"></label> </div>
                </div>                  <!-- GENRE CHECKLIST EINDIGT HIER -->
            </div> <!-- GENRE EINDIGT HIER!-->


            <div class="platform">    <!-- PLATFORM BEGINT HIER -->                    
                <div class="platformtitle">
                    Platform
                </div>
                <div class="platformfilter"> <!-- PLATFORM CHECKLIST BEGINT HIER -->
                    <div class="form-group"> <input type="checkbox" name="platform-1" id="platform1" value="platformvalue1" /> <label for="platform1">Playstation 4</label> </div>
                    <div class="form-group"> <input type="checkbox" name="platform-2" id="platform2" value="platformvalue2" /> <label for="platform2">XBOX One</label> </div>
                    <div class="form-group"> <input type="checkbox" name="platform-3" id="platform3" value="platformvalue3" /> <label for="platform3">Computer</label> </div>
                    <div class="form-group"> <input type="checkbox" name="platform-4" id="platform4" value="platformvalue4" /> <label for="platform4">Nintendo Wii-U</label> </div>
                    <div class="form-group"> <input type="checkbox" name="platform-5" id="platform5" value="platformvalue5" /> <label for="platform5">PSP-Vita</label> </div>
                </div>                  <!-- PLATFORM CHECKLIST EINDIGT HIER -->
            </div> <!-- PLATFORM EINDIGT HIER!-->

            <div class="publisher">    <!-- PUBLISHER BEGINT HIER -->                    
                <div class="publishertitle">
                    Publisher
                </div>
                <div class="publisherfilter"> <!-- PUBLISHER CHECKLIST BEGINT HIER -->
                    <div class="form-group"> <input type="checkbox" name="publisher-1" id="publisher1" value="publishervalue1" /> <label for="publisher1">Electronic Arts</label> </div>
                    <div class="form-group"> <input type="checkbox" name="publisher-2" id="publisher2" value="publishervalue2" /> <label for="publisher2">Activision-Blizzard</label> </div>
                    <div class="form-group"> <input type="checkbox" name="publisher-3" id="publisher3" value="publishervalue3" /> <label for="publisher3">Valve</label> </div>
                    <div class="form-group"> <input type="checkbox" name="publisher-4" id="publisher4" value="publishervalue4" /> <label for="publisher4">Paradox</label> </div>
                    <div class="form-group"> <input type="checkbox" name="publisher-5" id="publisher5" value="publishervalue5" /> <label for="publisher5">Ubisoft</label> </div>
                </div>                  <!-- PUBLISHER CHECKLIST EINDIGT HIER -->
            </div> <!-- PUBLISHER EINDIGT HIER!-->
        </form>  <!-- FILTER EINDIGT HIER -->
    </div> <!-- FILTER COL EINDIGT HIER! -->

    <div class="col-9" id="product__list">
        <div class="col-3" id="product__list__item">
            <div class="product">
                <div class="product__image">
                    <img src=""/>
                </div>
                <div class="product__info">
                    <div class="product__title">
                    </div>
                    <div class="product__price">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>